html
{
	margin-top: 20px;
	margin-right: 5%;
	margin-left: 5%;
}

body
{
	font-family: "Open Sans";
	color: #eeeeee;
	background-color: #eeeeee;
}

p
{
	color: #323232;
	padding-left: 5px;
	padding-right: 5px;
}