html
{
	margin-top: 20px;
	margin-right: 5%;
	margin-left: 5%;
}

body
{
	font-family: "Open Sans";
	color: #222222;
	background-color: #eeeeeb;
}

p
{
	color: #32323f;
	line-height: 1.25em;
}

h1
{
    line-height: 0.7em;
}

h2
{
    line-height: 1.25em;
}

h4
{
    line-height: 1.25em;
}

.headerblock
{
	border-radius: 100px;
	display: block;
	word-wrap: break-word;
	line-height: 30%;
    max-width: 240px;
    box-shadow: 0px 4px 0px rgba(47,47,47,0.5);
    border: 2px solid #777777;
    margin-bottom: 40px;
    background-color: #dddddd;
	margin-top: 20px;
	padding-left: 35px;
    padding-right: 35px;
    transition: 0.2s;
}

.bigblock
{
	border-radius: 100px;
	display: block;
	word-wrap: break-word;
    max-width: 600px;
	line-height: 30%;
    box-shadow: 0px 3px 0px rgba(160,160,160,0.9);
	border: 1px solid #aaaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 35px;
    padding-right: 35px;
	background-color: #ffffff;
    transition: 0.1s;
        
}

.headerblock:hover
{
    background-color: #d7d7d7;
}

.headerblock:active
{
    box-shadow: 0px 0px 0px rgba(47,47,47,0.5);
    margin-top: 24px;
    margin-bottom: 36px;
}

.bigblock:hover
{
    background-color: #fcfcfc;
}

