html
{
	margin-top: 20px;
	margin-right: 5%;
	margin-left: 5%;
}

body
{
	font-family: "Open Sans";
	color: #222222;
	background-color: #eeeeeb;
}

p
{
	color: #32323f;
	line-height: 1.25em;
}

h1
{
    line-height: 0.7em;
}

h2
{
    line-height: 1.25em;
}

h4
{
    line-height: 1.25em;
}

.bigblock
{
	border-radius: 100px;
	display: block;
	word-wrap: break-word;
    max-width: 600px;
	line-height: 30%;
    box-shadow: -2px 2px 0px rgba(160,160,160,0.9);
	border: 1px solid #aaaaaa;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 35px;
    padding-right: 35px;
	background-color: #ffffff;
}

.smallspace
{
	line-height: 60%;
}